name: Build and Push Docker Images

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Backend
      - name: Build & Push Backend Image
        uses: docker/build-push-action@v6
        with:
          context: ./springbootproject
          file: ./springbootproject/backend.Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/2300032935-lab-backend:latest

      # Frontend
      - name: Build & Push Frontend Image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          file: ./frontend/frontend.Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/2300032935-lab-frontend:latest
